@use "function" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
// Font-sizes
$fs-100: toRem(14);
$fs-200: toRem(15);
$fs-300: toRem(18);
$fs-400: toRem(20);
$fs-500: toRem(22);
$fs-600: toRem(23);
$fs-700: toRem(25);
$fs-800: toRem(30);
$fs-900: toRem(45);
$fs-1000: toRem(50);
$fs-1100: toRem(90);

$fs-primary: $fs-300;
$fs-h1: $fs-1100;
$fs-h2: $fs-1000;

// Colors
$purple-clr: #6722b5;
$purple-soft-clr: #372748;
$purple-dark-clr: #19082d;
$blue-dark-clr: #1d1c2d;
$dark-gray-clr: #3e3e3e;
$orange-clr: #ff7425;
$white-soft-clr: #bcbbbb;

$primary-clr: $purple-clr;
$secondary-clr: $purple-dark-clr;

$default_ff: "Poppins", sans-serif;

$transition: all 0.25s ease-in-out;

$navbar-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
