@use "../../utils/variable" as *;
@use "../../utils/mixin" as *;
@use "../../utils/extend" as *;
@use "../../utils/function" as *;

#process {
  margin-top: 80px;
  font-size: $fs-100;
  .outer {
    .content {
      &__info {
        p {
          font-size: $fs-200;
          color: $blue-clr;
          font-weight: 500;
        }
        h2 {
          font-size: $fs-800;
          font-weight: 500;
        }
        h2 + p {
          font-weight: 400;
          color: $gray2-clr;
        }
      }
      &__buttons {
        color: $blue-clr;
        font-weight: 500;
        transition: $transition;
        &:hover {
          color: $dark-gray-clr;

          i {
            transform: translateX(5px);
          }
        }
        i {
          font-size: 10px;
          transition: $transition;
        }
      }
    }
  }
  .processes {
    @include flexbox(stretch, center, wrap, 0);
    row-gap: 0.6rem;
    &__item {
      @extend .processes;
      flex: 50%;
      flex-direction: column;
      padding: 15px;
      gap: 1rem;
      &__img {
        span {
          width: 64px;
          height: 64px;
          @extend %span;
          font-size: 2rem;
        }
      }
      h4 {
        font-size: $fs-600;
      }
      p {
        color: $gray2-clr;
      }
    }
  }

  @media (max-width: 575px) {
    .processes__item {
      flex: 100% !important;
    }
  }
}
