@use "function" as *;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
$fs-100: toRem(17);
$fs-200: toRem(18);
$fs-300: toRem(19);
$fs-400: toRem(20);
$fs-500: toRem(22);
$fs-600: toRem(24);
$fs-700: toRem(34);
$fs-800: toRem(44);
$fs-900: toRem(80);

$blue-clr: #3c43ed;
$blue2-clr: #5f5dff;
$dark-gray-clr: #2f3238;
$dark-blue-clr: #263238;
$gray-clr: #5d5d5d;
$gray2-clr: #737373;
$light-gray-clr: #bfbfbf;
$white2_clr: #ced2d5;
$white_clr: #fff;
$green_clr: #00e18f;

$default_ff: "Fira Sans", sans-serif;

$transition: all 0.25s ease-in-out;

$navbar-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
